ckantoolkit
pycsw==2.6.1
lxml>=2.3
argparse
pyparsing>=2.1.10
requests>=1.1.0
six

pyproj==2.6.1; python_version < '3.9'
pyproj==3.5.0; python_version >= '3.9'

Shapely==2.0.1
OWSLib==0.23.0
geojson==3.0.1
GeoAlchemy2==0.11.1
