ckantoolkit==0.0.7
lxml<5.1.1
# argparse
pyparsing>=2.1.10
requests>=1.1.0
cython==0.29.36; python_version < '3.9'
cython==3.0.8; python_version >= '3.9'
pyproj==2.6.1; python_version < '3.9'
pyproj==3.6.1; python_version >= '3.9'

pycsw==2.6.1  # as OWSLib is not pinned

Shapely==2.0.4
OWSLib==0.28.1
geojson==3.0.1

cryptography==42.0.4
pyopenssl==25.0.0

GeoAlchemy2==0.15.01
sqlalchemy==1.4.52

prometheus-client==0.20
