ckantoolkit
Shapely>=1.2.13,<2.0.0
GeoAlchemy>=0.6
GeoAlchemy2==0.5.0
pycsw==2.4.0
pyproj==2.6.1
OWSLib==0.18.0
lxml>=2.3
argparse
pyparsing>=2.1.10
requests>=1.1.0
six

pyproj==2.6.1; python_version < '3.9'
pyproj==3.4.1; python_version >= '3.9'

Shapely==2.0.1
OWSLib==0.28.1
geojson==3.0.1
